* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

::before,
::after {
  box-sizing: border-box;
}
.skin {
  position: relative;
  background-color: #ffcb00;
  min-height:50vh;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.nose {
  border: 7px solid black;
  width: 0;
  height: 0;
  position: relative;
  left: 50%;
  top: 145px;
  margin-left: -10px;
  border-bottom: none;
  z-index: 10;
  border-color: black transparent transparent;
}
.nose:hover {
  transform-origin: center bottom;
  animation: wave 500ms linear infinite;
}
.yuan {
  position: absolute;
  width: 14px;
  height: 7px;
  background-color: black;
  top: -14px;
  left: -7px;
  border-radius: 10px 10px 0 0;
}

.eye {
  border: 2px solid #000;
  width: 46px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -23px;
  background-color: #2e2e2e;
  border-radius: 50%;
}

.eye::before {
  content: "";
  border: 2px solid black;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  background-color: white;
  border-radius: 50%;
  left: 4px;
  top: 2px;
}

.eye.left {
  transform: translateX(-100px);
}

.eye.right {
  transform: translateX(100px);
}

.mouth {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 170px;
  margin-left: -100px;
}

.mouth .up {
  position: relative;
  top: -20px;
  z-index: 3;
}

.mouth .up .lip {
  border: 3px solid black;
  width: 100px;
  height: 30px;
  position: relative;
  position: absolute;
  border-top-color: transparent;
  left: 50%;
  margin-left: -50px;
  background-color: #ffcb00;
}
 .mouth .up .lip.left {
  border-radius: 0 0 0 50px;
  transform: rotate(-25deg) translateX(-53px);
}

.mouth .up .lip.right {
  border-radius: 0 0 50px 0;
  transform: rotate(25deg) translateX(55px);
}

.mouth .up .lip::before {
  content: "";
  display: block;
  width: 7px;
  height: 30px;
  position: absolute;
  background: #ffcb00;
  bottom: 0;
}

.mouth .up .lip.left::before {
  right: -5px;
}

.mouth .up .lip.right::before {
  left: -5px;
}

.mouth .down {
  height: 163px;
  position: absolute;
  width: 100%;
  top: 11.5px;
  overflow: hidden;
}

.mouth .down .yuan1 {
  width: 150px;
  height: 1000px;
  position: absolute;
  margin-top: -837px;
  left: 50%;
  margin-left: -75px;
  bottom: 0;
  border-radius: 150px / 450px;
  background-color: #9b000a;
  overflow: hidden;
  border: 3px solid black;
}
.mouth .down .yuan1 .yuan2 {
  width: 200px;
  height: 1000px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  background-color: #ff485f;
  margin-top: 865px;
  border-radius: 100px;
}
.face {
  position: absolute;
  left: 50%;
  border: 3px solid black;
  height: 88px;
  width: 88px;
  top: 230px;
  margin-left: -44px;
  z-index: 1;
}
.face > img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.face.left > img {
  transform: rotateY(180deg);
  transform-origin: 0 0;
}
.face.left {
  transform: translateX(-180px);
  background-color: #ff0000;
  border-radius: 50%;
}
.face.right {
  transform: translateX(180px);
  background-color: #ff0000;
  border-radius: 50%;
}
